:root {
    --navbar-width: 400px;
    /* background-color:(0,0,0,0.103); */
    color:white;
}
ul {

    display:block;

    list-style-type:none;

    margin:10px;

}
.dashboard-main {
    margin-left: var(--navbar-width);

    font-size: 30px;

    position: relative;

    height: 110vh;
    /* background-color:(0,0,0,0.103); */
}
.dashboard-title {
    display: flex;
    justify-content: center;
    margin: auto;
}
.dashboard-text {

    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto;
}


